# Virtual environment
.venv/

# Env files
.env

# Logs
*.log

# Lock files (optional if you don’t want them)
uv.lock

# Data / dumps / HAR files
*.har
*.json
*.txt

# OS / misc
.DS_Store
Thumbs.db

# Ignore everything by default (optional strict mode)
# *
# !vtu_auto_progress.py
# !pyproject.toml
# !README.md
# !.gitignore
vtu_auto/__pycache__/__init__.cpython-314.pyc
vtu_auto/__pycache__/cli.cpython-314.pyc
vtu_auto.egg-info/PKG-INFO
